body{
    background-image: url(https://i.pinimg.com/736x/30/d1/eb/30d1eb68e7ec9c1cd249a774050bab49.jpg);
    background-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    display: grid;
    place-content: center;
}
.main{
    position:relative;
    padding: 3%;
    border: 2px solid black;
    max-width: 350px;
    margin: 100 auto;
    background-color: aliceblue;
    display: grid;
}

/*left-container*/
.left-container{
    /*border: 2px solid yellow;*/
    padding: 2%;
}
.banner{
    border: 3px solid blue;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    height: 70px;
}
.profile{
    display: grid;
    border: 2px solid brown;
    gap: 2px;
}
.name{
    border: 2px solid red;
    grid-column: 1/3;
}
.picture{
    border: 2px solid red;
    width: 120px;
    height: 120px;
}
.status{
    border: 2px solid black;
    grid-column: span 2;
}



/*right-container*/
.right-container{
    border: 2px solid green;
    padding: 2%;
}
.about{
    border:2px solid red;
}
.links{
    display: grid;
}

.l1{
    border: 2px solid red;
}
.cosplay{
    border: 2px solid black;
}