body{
    margin: 0;
    padding: 4%;
    background-color: rgb(216, 198, 224);
}
.main{
    position: relative;
    border: 2px solid black;
    width: 100%;
    /*height: 1050px;*/
    display: grid;
    /*grid-template-rows: 1fr 2fr;*/
}
.left-container{
    /*border: 2px solid yellow;*/
    padding: 2%;
}
.banner{
    border: 3px solid blue;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    height: 70px;
}
.profile{
    display: grid;
    border: 2px solid brown;
    grid-template-columns: 1fr 2fr;
}
.name{
    border: 2px solid red;
}
.picture{
    border: 2px solid red;
    width: 120px;
    height: 120px;
}
.about{
    border: 2px solid black;
}
.mood{
    border: 2px solid red;
}
.right-container{
    border: 2px solid green;
    padding: 2%;
}

.l1{
    border: 2px solid red;
}