:root{
    --my-color-cards:rgba(248, 236, 241, 0.89);
    --my-color-pastel-green: rgb(224, 255, 226); /*verde pastel rgb(224, 255, 226)*/
    --my-color-ultra-green: rgb(181, 255, 186);
    --my-color-ultra-pink: rgb(248, 174, 233);
    --my-color-pastel-pink:rgb(248, 187, 212);
    --my-color-ultra-paste-pink: rgba(252, 239, 248, 0.691);
}
.root-gif{
    position: fixed;
    height: 50px;
    z-index: 1;
}
#tux{
    top: 20px;
}
#cucaracha{
    bottom: 10px;
    right: 10px;
    height: 70px;
}
@keyframes float{ /*hola vengo a flotar oWo*/
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-6px);
    }
    100%{
        transform: translateY(0);
    }
}
body{
    background-image: url(assets/fondo4.jpg);
    background-size: 110%;
    font-family: "Indie Flower", cursive;
    font-size: 1.3rem;
}
.main{
    min-width: 320px;
    max-width: 320px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.694);
    border: 2px solid var(--my-color-ultra-pink);
    margin-bottom: 16px;
    box-shadow: 0px 0px 13px var(--my-color-ultra-pink);
    display: grid;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: float 5s ease-in-out infinite;
}
.top-bar{
    padding-left: 10px;
    font-size: 1rem;
    color: white;
    background-color: var(--my-color-ultra-pink);
    border-bottom: 2px solid var(--my-color-ultra-pink);
    box-shadow: 0px 0px 1px var(--my-color-ultra-pink);
    text-align: left;
    text-shadow: 2px 2px 0px pink;
}
.top-bar img{
    height: 1.8em;
    margin: 0 4px;
    vertical-align: middle;
}
#close-tab{
    position: absolute;
    right: 5px;
    height: 13px;
    vertical-align: center;
}
#cosplay{
    margin: 0 auto;
    border: 2px solid var(--my-color-ultra-pink);
    box-shadow: 3px 4px 0px rgb(221, 191, 209);
    width: 94%;
    background-color: var(--my-color-ultra-paste-pink);
    margin-bottom: 16px;
}
#libros{
    margin: 0 auto;
    border: 2px solid var(--my-color-ultra-pink);
    box-shadow: 3px 4px 0px rgb(221, 191, 209);
    width: 94%;
    background-color: var(--my-color-ultra-paste-pink);
    margin-bottom: 16px;
}
#varios{
    margin: 0 auto;
    border: 2px solid var(--my-color-ultra-pink);
    box-shadow: 3px 4px 0px rgb(221, 191, 209);
    width: 94%;
    background-color: var(--my-color-ultra-paste-pink);
}
h2 img{
    height: 2.2em;
    margin: 0 5px;
    vertical-align: middle;
}
.article{
    display:grid;
    padding: 10px;
    margin-bottom: 16px;
}
.article h2{
    margin: 0;
    font-size: 35px;
    font-family: 'Pacifico';
    text-shadow: 2px 2px 4px var(--my-color-pastel-pink);
    color: rgb(233, 131, 168);
}
.article-images{
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 110px 110px;
    gap: 10px;
}
.article-images img{
    height: 110px;
}
.banner{
    margin: 0 auto;
    min-width: 320px;
    max-width: 320px;
    height: 180px;
    border: 2px solid var(--my-color-ultra-pink);
    box-shadow: 0px 0px 13px var(--my-color-ultra-pink);
    animation: float 5s ease-in-out infinite;
}
.banner img{
    height: 100%;
    width: 100%;
}

